header {background-color: navy;width: 100%;position: fixed; top: 0 ; left: 0 ;height: 80px;display: flex;}
header h1 {color: white;font-family: 'Courier New', Courier, monospace;}
header nav ul li a{color: white;display: flex;}
header nav ul li a :hover{color: aquamarine; }
main{ margin-top: 100px;background-color: lightblue;text-align: center;}
#contenedor>img { width: 30%;}