header {background-color: navy;width: 100%;position: fixed; top: 0 ; left: 0 ;height: 180px;display: flex;}
header h1 {color: white;font-family: 'Courier New', Courier, monospace;}
header nav ul{ color: white;}
